<div class="bg-white">
  <div class="max-w-screen-2xl mx-auto px-[5vw] py-24">
    <h1 class="text-center text-xl uppercase">About Sketchomes</h1>
    <h2 class="text-center text-3xl my-8 font-[oP]">
      FLOURISHING &nbsp; YOUR &nbsp; HOMES <br />
      WITH &nbsp;LUXURY &nbsp; LIVING
    </h2>
    <p class="text-center mb-4 mx-auto max-w-[800px] poppins-regular">
      Simplicity is the ultimate sophistication. At Sketchomes, we believe in
      capturing the spirit of the client and the essence of the space. We
      believe that beauty should not be a privilege reserved for those born with
      a platinum spoon, but should be a basic requirement for everyone. Grace
      and elegance are not only ideals to aspire to, they are expressed in
      everything we see. Knowing this, we are merely responding to the inner
      desire of folks who wish to live artistically and in beautiful spaces that
      enrich their sense of self.
    </p>
    <p class="text-center mb-4 mx-auto max-w-[800px] poppins-regular">
      Our brand embodies global refinement and an indigenous design sensibility
      that is influenced by current and traditional
      <span class="text-yellow-400">interior design.</span> The organization has
      already grown its business to mega-cities such as Gurgaon, South Delhi,
      Delhi NCR, and North India after barely 12 years of operation. In the
      short time, we've been in business, we've completed over 400 successful
      projects and are diligently trying to complete more.
    </p>
    <div class="flex justify-center mt-16">
      <a class="uppercase text-xs" href="">Read more</a>
    </div>
  </div>
</div>
