<div class="bg-black max-w-[100vw] overflow-hidden">
  <div
    class="max-w-screen-2xl gap-8 mx-auto max-[1100px]:flex-col max-[1100px]:justify-center px-[5vw] items-center text-white py-12 max-md:pb-16 flex">
    <div>
      <h3 class="font-[oP] uppercase text-4xl text-center">Skechomes</h3>
    </div>
    <div class="flex-1 flex flex-col gap-4 max-[900px]:gap-8">
      <div class="flex max-[900px]:flex-col max-[900px]:justify-center gap-6">
        <div class="flex-1 flex gap-4 max-[900px]:justify-center text-nowrap max-sm:flex-wrap">
          <a href="">About Us</a>
          <a href="">Services</a>
          <a href="">Project</a>
          <a href="">Career</a>
          <a href="">Contact Us</a>
        </div>
        <div class="flex flex-1 max-[900px]:justify-center gap-4 border-b-gray-300 border-b-2">
          <input class="flex-1 bg-black focus:outline-none" placeholder="Enter Email" type="text" />
          <a href="">Submit</a>
        </div>
      </div>
      <div class="flex gap-6 max-[700px]:flex-col">
        <div class="flex-1 max-[900px]:justify-center flex gap-4">
          <a href=""><i class="fa-brands fa-xl fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-xl fa-youtube"></i></a>
          <a href=""><i class="fa-brands fa-xl fa-facebook"></i></a>
        </div>
        <div class="flex-1 text-nowrap max-[900px]:text-center max-md:text-wrap">
          <p>©2024 All right reserved. IN Skechomes Pvt. Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</div>
