<div class="fixed z-20 w-full duration-500 text-white">
  <div #b1 class="absolute top-0 duration-500 h-0 w-full bg-black -z-10"></div>
  <div class="mx-auto max-w-screen-2xl py-6 max-md:py-4 px-[5vw]">
    <div class="flex text-xs justify-between items-center">
      <div class="hidden max-md:block">
        <a class="font-[oP] uppercase text-xl" href="/"> Sketchomes </a>
      </div>
      <div class="ml-auto px-4 text-sm md:hidden">
        <a href="tel://+917011764114">Call Now</a>
      </div>
      <div class="flex gap-4">
        <a (click)="navState = !navState">
          <div class="flex flex-col gap-[5px]">
            <div class="inline-block h-[2px] max-md:w-8 w-12 bg-white"></div>
            <div class="inline-block h-[2px] max-md:w-8 w-12 bg-white"></div>
            <div class="inline-block h-[2px] max-md:w-8 w-12 bg-white"></div>
          </div>
        </a>
        <ul class="flex gap-4 items-center max-md:hidden">
          <li><a href="">HOME</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">SERVICES</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">PROJECTS</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">CONTACT US</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="" class="blink">QUICK INQUIRY</a></li>
        </ul>
      </div>
      <div class="max-md:hidden">
        <i class="fa-solid fa-phone mr-2"></i
        ><a href="tel://7011764114">+91 7011764114</a>
      </div>
    </div>
  </div>
</div>
<div
  [style.left]="navState ? '-100%' : '0'"
  class="bg-white ease-out z-30 fixed t1 top-0 px-[5vw] pt-6 left-0 h-[100vh] w-[30vw] max-md:w-[100vw]"
>
  <div class="flex flex-col gap-16">
    <a (click)="navState = !navState">
      <div class="w-8 h-8 flex flex-col justify-center">
        <div
          class="w-8 h-[2px] rotate-45 inline-block bg-black translate-y-[2px]"
        ></div>
        <div class="w-8 h-[2px] -rotate-45 inline-block bg-black"></div>
      </div>
    </a>
    <ul class="text-3xl flex flex-col gap-2 text-gray-400">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Blogs</a></li>
      <li><a href="#">Career</a></li>
      <li><a href="#">FAQ's</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</div>
<div
  (click)="navState = !navState"
  [style.display]="navState ? 'none' : 'block'"
  class="fixed h-full duration-500 opacity-20 w-full bg-black z-20"
></div>
<div
  class="md:hidden text-white fixed bottom-0 left-0 flex z-40 text-xs border-b-[70px] mb-[-70px] border-b-black bg-black w-full"
>
  <div class="flex-1 text-center border-gray-200 border py-2">
    <a class="font-[Masionlight]" href="tel://+917011764114"> Call Now</a>
  </div>
  <div class="flex-1 text-center border-gray-200 border py-2">
    <a class="font-[Masionlight]" href=""> Projects</a>
  </div>
  <div class="flex-1 text-center border-gray-200 border py-2">
    <a class="font-[Masionlight] blink" href=""> Quick Inquiry</a>
  </div>
</div>
<div class="fixed bottom-14 right-6 md:hidden z-40">
  <a
    class="p-4 bg-black border border-white rounded-full text-white aspect-square flex justify-center items-center"
    href="tel://+917011764114"
    ><i class="fa-solid fa-phone"></i
  ></a>
</div>
