<div class="absolute z-10 w-full text-white">
  <div class="mx-auto max-w-screen-2xl py-5 px-[5vw]">
    <div class="flex text-xs justify-between items-center">
      <div class="flex gap-4">
        <div class="flex flex-col gap-[5px]">
          <div class="inline-block h-[2px] w-12 bg-white"></div>
          <div class="inline-block h-[2px] w-12 bg-white"></div>
          <div class="inline-block h-[2px] w-12 bg-white"></div>
        </div>
        <ul class="flex gap-4 items-center">
          <li><a href="">HOME</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">SERVICES</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">PROJECTS</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">CONTACT US</a></li>
          <div class="inline-block w-[1.5px] h-4 bg-white"></div>
          <li><a href="">QUICK INQUIRY</a></li>
        </ul>
      </div>
      <div>
        <i class="fa-solid fa-phone mr-2"></i><a href="tel://7011764114">+91 7011764114</a>
      </div>
    </div>
  </div>
</div>
