<div class="bbg">
  <div class="max-w-screen-2xl mx-auto px-[5vw] py-24">
    <h1 class="text-white font-[oP] text-7xl max-sm:text-5xl text-center uppercase reveal-fade-up">
      Skechomes
    </h1>
    <h2
      class="text-white mt-4 text-3xl max-sm:text-3xl text-center uppercase reveal-fade-up delay-1"
    >
      INTeriOr Designs
    </h2>
  </div>
</div>
<div>
  <div class="max-w-screen-2xl mx-auto px-[5vw] py-16">
    <h1 class="font-[oP] text-5xl text-center uppercase reveal-fade-up">Types of Projects</h1>
    <div class="my-12 overflow-x-scroll snap hide-scroll snap-mandatory">
      <div
        class="flex gap-4 scroll-center min-w-[1000px] max-md:min-w-[780px] max-sm:min-w-[680px]"
      >
        <a
          routerLink="/projects"
          class="relative aspect-[4/3] bg-cover overflow-hidden bg-center bg-[url(/assets/images/commercial-s.webp)] flex-1 project-card"
        >
          <div
            class="absolute h-full w-full top-0 left-0 bg-gradient-to-b from-transparent to-black"
          >
            <h2 class="absolute text-white font-semibold text-xl bottom-0 p-8">
              Commerical Interior Desgin
            </h2>
          </div>
        </a>
        <a
          routerLink="/projects"
          class="relative aspect-[4/3] bg-cover overflow-hidden bg-center bg-[url(/assets/images/residential-s.webp)] flex-1 project-card"
        >
          <div
            class="absolute h-full w-full top-0 left-0 bg-gradient-to-b from-transparent to-black"
          >
            <h2 class="absolute text-white font-semibold text-xl bottom-0 p-8">
              Residentail Interior Desgin
            </h2>
          </div>
        </a>
        <a
          routerLink="/projects"
          class="relative aspect-[4/3] bg-cover overflow-hidden bg-center bg-[url(/assets/images/retail-s.webp)] flex-1 project-card"
        >
          <div
            class="absolute h-full w-full top-0 left-0 bg-gradient-to-b from-transparent to-black"
          >
            <h2 class="absolute text-white font-semibold text-xl bottom-0 p-8">
              Retail Interior Desgin
            </h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
